@font-face {
  font-family: 'Canela';
  src: url(../fonts/Canela-Regular.woff2) format('woff2'),;
}
@font-face {
  font-family: 'Canela';
  font-style: italic;
  src: url(../fonts/Canela-RegularItalic.woff2) format('woff2'),;
}
